@tailwind base;
@tailwind components;
@tailwind utilities;

/* .manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: hsl(210, 46%, 95%);
}

main {
  background-color: #fff;
  box-shadow: 0px 40px 10rem -5rem;
  .shareButton {
    background-color: hsl(210, 46%, 95%);
  }
}

.shareComponent {
  background-color: hsl(217, 19%, 35%);
}

.shareButtonMobile {
  background-color: hsl(214, 17%, 51%);
}

.shareDesktop {
  z-index: 1 !important;
}

.bioLarge {
  button:hover {
    opacity: 0.6;
  }
}
